body {
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  font-family: "Nunito", sans-serif;
}

#form {
  display: inline-block;
  width: 50%;
  margin: auto;
  margin-left: 40px;
  padding: 30px;
}

.list {
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 100px;
  margin-left: 60px;
}

#cardHolder {
  margin: auto;
  margin-top: 30px;
  margin-left: 60px;
}

.heading {
  font-size: 4rem;
  text-align: left;
  font-family: "Pacifico", cursive;
  margin: 20px 0 10px 200px;
}
